<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if not library %}
    <p>Library is empty. Click below to add a book.</p>
    {% else %}
    <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Author</th>
               <th>Rating</th>
            </tr>
         </thead>

         <tbody>
            {% for book in library %}
               <tr>
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.rating }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
    {% endif %}
    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
