{% extends "base.html" %}

{% block title %}Add a Book{% endblock %}

{% block content %}

<div class="container py-5">

    <form action="{{ url_for('add') }}" method="POST">
      {{ form.csrf_token }}
      {{ form.title.label }} {{ form.title(size=30) }}
      {{ form.author.label }} {{ form.author(size=30) }}
      {{ form.rating.label }} {{ form.rating(size=30) }}


      <input type="submit" value="Add Book">
    </form>
  {% if error %}
    <h2 style="color: red;">{{ error }}</h2>

  {% endif %}
  </div>
    <br>
    <br>
  <a href="{{ url_for('home') }}">My Library</a>
{% endblock %}
