{% extends "base.html" %}

{% block title %}View Record{% endblock %}

{% block content %}


	<div class="container py-5">
		<!-- Header -->
			<header id="header">
				<h3>
  {{ book.title }}
  <small class="text-body-secondary">by {{ book.author }}</small></h3>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<h3><img src="../static/images/like.svg" alt="like icon" height="24"> {{ book.rating }} / 10</h3>
			</header>
	</div>

	<br>

	<div class="container">
		<a href="{{ url_for('update', num=book.id) }}" type="button" class="btn btn-secondary">Update Record</a>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-danger">Danger Zone</button>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                <a class="dropdown-item" href="{{ url_for('delete', num=book.id) }}">Delete Record</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
        </div>
    </div>




{% endblock %}