{% extends "base.html" %}

{% block title %}View Record{% endblock %}

{% block content %}


	<div class="container py-5">
		<!-- Header -->
			<header id="header">
				<h3>
  {{ book.title }}
  <small class="text-body-secondary">by {{ book.author }}</small></h3>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<h3><img src="../static/images/like.svg" alt="like icon" height="24"> {{ book.rating }} / 10</h3>
			</header>
	</div>

	<br>

	<div class="container">
		<a href="{{ url_for('update', num=book.id) }}" type="button" class="btn btn-secondary">Update Record</a>
	</div>



{% endblock %}